@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.mainStructure {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.sidebar {
    width: 255px;
    background-color: #ececec;
    color: black;
    height: 100vh;
    text-align: left;
    padding: 45px 16px;
}

.subMenu {
    width: 295px;
    background-color: #f9f9f9;
    color: black;
    border: 1px solid darkgray;
    height: 100vh;
    text-align: left;
    padding: 45px 16px;
}

hr {
    border-top: 1px solid #E5E5E5;
}

.content {
    text-align: left;
    padding: 52px;
}

.list {
    &_labels {
        display: flex;
        gap: 8px;
    }

    &_content {
        display: flex;
        gap: 8px;
        flex-direction: column;
    }
}

.actions {
    display: flex;
    justify-content: space-between;
}